body {
    background-color: #F8F8FF;
}
h2 {
    margin-left: 200px;
}

input {
    margin-top: 5px;
    border-color: lightskyblue;    
    width: 70%;
    padding: 20px;
}

#submit {
    margin-top: 5px;
    width: 15%;
}

input::placeholder {
    font-size: 1rem;
    color: black;
}

input:hover{
    background-color: gray;
    color: white;
}

#submit:hover {
    background-color: #5A5AFF;
    color: white;
}

.container {
    text-align: center;
}

textarea {
    margin-top: 5px;
    padding: 30px 40px 40px 30px;
    margin: 5px 0px 0px;
    width: 858px;
    height: 178px;
    border-left: 5px solid blue;
}